/***************************************POPUP**************/

.popup_cover {
    background-color: #1f1f2b;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 77;

    .popup-contact {
        border: 5px solid #000000;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;


        /////////////////////////////////////////le titre de popup///////
        .popup-title__container {
            width: 100%;



            .popup-title {
                height: 7vh;
                background-image: url('./assets/img/Contact.png');
                background-repeat: repeat-x;

            }

            .popup-title--first {
                margin-bottom: -10px;
            }



        }

        /////////////////////////////////////////////////////////form popup
        .popup-info {
            //background-color: #0ea739;
            width: 50%;






            .formulaire {
                input {
                    height: 40px;
                }

                label {
                    font-size: 14px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                }

                .btn-envoyer__container {

                    display: flex;
                    justify-content: center;
                }

            }
        }



        .wpcf7-spinner {
            display: none;
        }

    }







}

.wpcf7-form p .wpcf7-text,
.wpcf7-form p .wpcf7-email,
.wpcf7-form p textarea {
    //background-color: aqua;

    width: 100%;
    border-radius: 0px;
    border: 1px solid #47474b;
}

/////////////////////////////////////////////////////////